{{!-- menu icon start--}}
<div class="burger-icon">
    Menu
    <div class="show-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
{{!-- menu icon end--}}

{{!-- admin side nav start --}}
<nav class="nav-bar">
    <div class="hide-btn">
        <div class="x-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="links">
        <a class="list-item" href="/admin">Home</a>
        <a class="list-item" href="/admin/categories">Categories</a>
        <a class="list-item" href="/admin/caracs">Caracteristics</a>
        <a class="list-item" href="/admin/rooms">Rooms</a>
        <a class="list-item" href="/admin/images">Images</a>
        <a class="list-item" href="/admin/reservations">Reservations</a>
    </div>
</nav>
{{!-- admin side nav end --}}

