{{!-- admin top nav start --}}
{{>admin-nav}}
{{!-- admin top nav end --}}

{{!-- welcome text start --}}
<section class="welcome">
    <h1>Admin Panel</h1>
</section>
{{!-- welcome text end --}}

{{!-- statistics content --}}
<section class="stats">
    <div class="inner">
        <div class="stats-content">
            <a href="/admin/reservations">
                <div class="stat">
                    <h4>{{stat}}</h4>
                    <h6><span>{{dataRsvs.length}}</span>&nbsp;Reservation</h6>
                </div>
            </a>
            {{#each unitsData}}
                <a href="/admin/rooms">
                    <div class="stat">
                        <h4>{{this.label_category}}</h4>
                        <h6><span>{{this.numberOfUnits}}&nbsp; Unit</span></h6>
                    </div>
                </a>
            {{/each}}
        </div>
    </div>
</section>